@import '../_variables.scss';

.logItem {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  margin: 30px 0;
  position: relative;

  &:first-child {
    margin-top: 0; 
  }

  * {
    font-weight: 300;
  }

  .header {
    position: relative;

    img {
      max-width: 100%; 
    }

    .gradient {
      width: 100%;
      height: 100px;
      background: linear-gradient(transparent, #1a1a1a);
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      span {
        margin: 5px;
      }
    }
  }

  .main {
    padding: 10px;
    border: 1px solid white;
    border-top: none;

    p {
      margin: 0; 
    }

    .buddy {
      display: flex;
      align-items: center;
      margin-top: 5px;

      img {
        width: 40px;
        border-radius: 50%;
        margin-right: 5px;
      } 
    }

    .extra {
      padding-top: 10px; 

      q:before, q:after {
        color: $primary-color;
      }
    }
  }
}
