.logbook-item {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 3px solid $primary-color;

  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  
    h1 {
      margin: 0; 
    }
  }


  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    & > div {
      display: flex;
      align-items: center; 
      justify-content: flex-start;
      flex-basis: 40%;

      i {
        margin-right: 5px; 
      }
    }

    .more {
      display: flex;
      justify-content: flex-start; 
    }
  }
}
