@import '../variables';
@import '../mixins';

.navbar {
    background: white;
    color: darken($primary-color, 20);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 !important;
    @include box-shadow-bottom;

    .wrapper {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


    .dropdown {
        overflow: hidden;
        position: absolute;
        max-height: 0;
        top: 60px;
        left: 0;
        width: 100%;
        background: white;
        border-top: 1px solid #EFEFEF;
        @include box-shadow-bottom;
        transition: max-height 0.2s ease-in-out;

        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 12px 0;

            li {
                width: 100%;
                padding: 12px;
                box-sizing: border-box;
                font-size: 0.9em;

                a.active {
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }

    &.visible .dropdown {
        max-height: 300px;
    }

    .menuIcon {
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            background: darken($primary-color, 20);
            opacity: 1;
            height: 3px;
            transition: 0.3s;
        }

        &.toggled {
            div {
                width: 100%;
            }

            div:first-child {
                transform: rotate(-45deg) translate(-5px, 10px);
            }

            div:nth-child(2) {
                opacity: 0;
            } 

            div:last-child {
                transform: rotate(45deg) translate(-5px, -10px);
            }
        }
    }
}
