<div class="profile">
    <div class="header">
        <div id="bg_wrapper">
            <img class="bg" src="img/profile_header.jpg" alt="">
        </div>

        <img class="profile circle" ng-src="{{ diver.picture }}" alt="">
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col s6 offset-s3 center">
                    <h5>{{ diver.name }}</h5>
                    <h6>{{ diver.certification | certification }}</h6>
                </div>
            </div>

            <div class="row">
                <div class="col s8 offset-s2 center">
                    <div class="col s6 offset-s3" ng-if="loadingStats">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="!loadingStats">
                        <div class="col s6 m4">
                            <i class="material-icons circular">pool</i><br>{{ stats.diveCount }} dives
                        </div>

                        <div class="col s6 m4">
                            <i class="material-icons circular">group</i><br>{{ stats.buddyCount }}
                            <span ng-if="stats.buddyCount == 1"> buddy</span>
                            <span ng-if="stats.buddyCount != 1"> buddies</span>
                        </div>

                        <div class="col s6 m4">
                            <i class="material-icons circular">timer</i><br>{{ stats.totalDiveTime | splitMinutes }}
                        </div>
                    <!-- </div> -->

                    <!-- <div class="row" ng-if="!loadingStats"> -->
                        <div class="col s6 m4">
                            <i class="material-icons circular">date_range</i><br>
                            <span ng-if="stats.firstDive != 0">First dive {{ stats.firstDive | timeSince }} ago</span>
                            <span ng-if="stats.firstDive == 0">No dives logged.</span>
                        </div>

                        <div class="col s6 m4">
                            <i class="material-icons circular">date_range</i><br>
                            <span ng-if="stats.firstDive != 0">Last dive {{ stats.lastDive | timeSince }} ago</span>
                            <span ng-if="stats.firstDive == 0">No dives logged.</span>
                        </div>

                        <div class="col s6 m4">
                            <i class="material-icons circular">bubble_chart</i><br>
                            <span ng-if="stats.maxDepth != 0">Maximum depth {{ stats.maxDepth }} m</span>
                            <span ng-if="stats.maxDepth == 0">No dives logged.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
