<div class="container">
    <h1>Logbook</h1>
    <p>Here you can find all your logged dives. Log new dives by clicking the plus button in the bottom right corner.</p>

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red" ng-click="newDive()">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="row">
        <div class="col s12" ng-if="dives.length == 0">
            <p ng-if="dives.length == 0">You have not logged any dives yet..</p>
        </div>

        <div class="col s6 m4" ng-repeat="dive in dives">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">#{{ dives.length - dives.indexOf(dive) }}</span>
                    <p>{{ dive.site }}</p>
                    <p>{{ dive.date | prettyDate }}</p>
                    <p>{{ dive.minutes }} min</p>
                </div>
                <div class="card-action">
                    <a ng-click="editDive($index)">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit dive modal -->
<div id="diveModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{ modalTitle }}</h4>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6 m4">
                    <input type="date" class="datepicker" ng-model="currentDive.date">
                    <label for="date">Date</label>
                </div>

                <div class="input-field col s6 m4">
                    <input id="minutes" type="number" class="validate" ng-model="currentDive.minutes">
                    <label for="minutes">Minutes</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 m4">
                    <input id="temperature" type="number" class="validate" ng-model="currentDive.temperature">
                    <label for="temperature">Temperature</label>
                </div>
                <div class="input-field col s6 m4">
                    <input id="maxDepth" type="number" class="validate" ng-model="currentDive.maxDepth">
                    <label for="maxDepth">Maximum depth (m)</label>
                </div>
                <div class="input-field col s6 m4">
                    <input id="avgDepth" type="number" class="validate" ng-model="currentDive.avgDepth">
                    <label for="avgDepth">Average depth (m)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="site" type="text" class="validate" ng-model="currentDive.site">
                    <label for="site">Dive site</label>
                </div>

                <div class="input-field col s12 m6">
                    <input id="weight" type="text" class="validate" ng-model="currentDive.weight">
                    <label ng-class="{ active: currentDive.weight != '' }" for="weight">Weight (kg)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="notes" class="materialize-textarea" ng-model="currentDive.notes"></textarea>
                    <label for="notes">Notes</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="closeDiveModal()" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a ng-if="editingDive" ng-click="showDeleteDiveModal()" class="modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
        <a ng-click="saveDive()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    </div>
</div>

<!-- Delete dive modal -->
<div id="deleteDiveModal" class="modal">
  <div class="modal-content">
    <h4>Delete dive</h4>
    <p>Are you sure you want to delete the dive? This can not be undone.</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a ng-click="deleteDive()" class="modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
  </div>
</div>
