body {
  margin: 0;
  background: linear-gradient(rgb(57, 166, 196), rgb(26, 26, 26));
  width: 100%;
  height: 100vh;
  font-size: 20px;

  &, * {
    font-family: 'PT Sans', sans-serif;
  }
}

.app, #root {
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
