.light-red-bg {
    background-color: $light-red;

    &:hover {
	background-color: $light-red !important;
    }
}

.light-red-text {
    color: $light-red;
}

.fb-bg {
    background-color: $fb-blue;
    color: white;
}
