.profile {
    .header {
        position: relative;
        max-height: 300px;

        #bg_wrapper {
            max-height: 300px;
            overflow: hidden;
        }

        img.bg {
            width: 100%;
        }

        img.profile {
            width: 150px;
            z-index: 2;
            position: absolute;
            bottom: -75px;
            left: 25%;
            border: 3px solid white;

            @media only screen and (max-width: 992px) {
                width: 100px;
                bottom: -50px;
                left: 10%;
            }
        }
    }

    .main {
        background: #EFEFEF;
        overflow: hidden;
        padding-top: 50px;
    }
}
