@import 'profile';

$font-stack: Helvetica, sans-serif;
$primary-color: #222;
 
body {
	font: 100% $font-stack;
	color: $primary-color;
}

a {
	cursor: pointer;
}

.preloader-wrapper {
	margin-top: 25px;
}

@media only screen and (max-width: 992px) {
	#diveModal {
		width: 100%;
	}
}
