@import 'profile';

$font-stack: Helvetica, sans-serif;
$primary-color: #222;

body {
	font: 100% $font-stack;
	color: $primary-color;
}

a {
	cursor: pointer;
}

.preloader-wrapper {
	margin-top: 25px;
}

.material-icons.circular {
    background: #ee6e73;
    padding: 10px;
    margin: 20px;
    color: white;
    border-radius: 50%;
}

.card.small {
	min-height: 450px;

	.buddy-wrapper {
		margin-top: 5px;
		& > span {
			margin-left: 5px;
		}
	}
}

@media only screen and (max-width: 992px) {
	#diveModal {
		width: 100%;
	}

	.card.small {
		min-height: 400px;
	}
}
